<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- Label -->
<ion-item>
  <ion-label>Operação</ion-label>
</ion-item>

<!--Input-->
<ion-input></ion-input>

<!--Item-->
<ion-item></ion-item>

<!-- Grid e botão 1 -->

<ion-item>
<ion-grid >
  <ion-row>
    <ion-col>
      <ion-button>MC</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>MR</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>M+</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>M-</ion-button>
    </ion-col>
     <ion-col>
      <ion-button>MS</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>M´</ion-button>
    </ion-col>
 </ion-row>
</ion-grid>
</ion-item>


<ion-grid >
  <ion-row>
    <ion-col>
      <ion-button>%</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>√</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>x/2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>1/x</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>

<ion-grid >
  <ion-row>
    <ion-col>
      <ion-button>CE</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>
        <ion-icon name="backspace" ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>÷</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>



<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button> 9 </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>X</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>-</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>+</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button>+/-</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button> , </ion-button>
    </ion-col>
    <ion-col>
      <ion-button>=</ion-button>
    </ion-col>
     </ion-row>
</ion-grid>


</ion-content>
