<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Label -->
<ion-item>
  <ion-label><ion-chip color="tertiary">Valor 1</ion-chip></ion-label>
</ion-item>

<!-- Input -->

<ion-chip>
  <ion-icon name="arrow-forward-sharp" color="black"></ion-icon>
  <ion-label><ion-input></ion-input></ion-label>
</ion-chip>

<!-- Label 2 -->
<ion-item>
  <ion-label><ion-chip color="tertiary">Valor 2</ion-chip></ion-label>
</ion-item>

<!-- Input 2 -->

<ion-chip>
  <ion-icon name="arrow-forward-sharp" color="black"></ion-icon>
  <ion-label><ion-input></ion-input></ion-label>
</ion-chip>

<!-- Grid e botão 1 -->
<ion-card color= "tertiary">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color= "light">+</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color= "light">-</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color= "light">*</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color= "light">/</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<!--Botão 2 -->
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color= "light">Maior</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color= "light">Menor</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card>

<!-- Label 3 -->


<ion-item >
  <ion-label >
    <ion-chip>Resultado</ion-chip></ion-label>
</ion-item>
<ion-item>
  <ion-label><ion-chip>Operação</ion-chip></ion-label>
</ion-item>


</ion-content>
